<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-right">{{current_date}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Detail Post: {{id}}</h3>
        </div>
    </div>
    <ng-container *ngIf="post != null">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">{{post.title}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-justify">
                <p>{{post.body}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-comments post="{{post.id}}" (date)="changeDate($event)"></app-comments>
            </div>
        </div>
        
    </ng-container>
    
</div>
